.arrays{
    padding: 0px 10px;
}

.arrays__heading{
    color: white;
    margin-left: 5px;
    margin-bottom: 0%;
    font-weight: 200;
    margin-top: .5%;
}

.arrays__box{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.arrays__box::-webkit-scrollbar{
    display: none;
}

.arrays__poster{
    max-height: 250px;
    padding: 5px;
    object-fit: contain;
    transition: .3s;
    cursor: pointer;
}

.arrays__poster:hover{
    transform: scale(1.08);
}


.mov{
    position: fixed;
    top: 0px;
    right: 0px;
    height:100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .85);
    z-index: 10;
}

.movie{
    position: relative;
    width: 750px;
    height: 100%;
    background-color: antiquewhite;
    margin: auto;
    margin-top: 70px;
    background-color: rgba(20, 20, 20, 1);
    overflow: scroll;
}

.movie::-webkit-scrollbar {
    display: none;
  }
  
  .movie {
    -ms-overflow-style: none;
    scrollbar-width: none;  
  }

.movie__cross{
    position: fixed;
    margin-top: 0px;
    margin-left: 700px;
    z-index: 12;
}
.movie__cross > svg{
    height: 30px;
    width: 30px;
    padding: 10px;
    color: white;
    cursor: pointer;
    filter: drop-shadow(0px 3px 3px rgb(0 0 0 ));
    transition: .2s;
}

.movie__backbrop{
    position: fixed;
    width: 750px;
}
.movie__backbrop > img{
    width: 100%;
    height: auto;
}

.movie__play{
    height: 362px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie__play >svg{
    margin-top: 60px;
    height: 50px;
    width: 50px;
    color: white;
    cursor: pointer;
    filter: drop-shadow(0px 3px 3px rgb(0 0 0 ));
    transition: .2s;
}
.movie__details{
    position: relative;
    top: 0;
    padding: 0px 50px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgba(20, 20, 20, 1);
    margin-bottom: 200px;
}
.movie__name{
    position: relative;
    top: 0;
    padding: 0px 50px;
    color: white;
    height: 60px;
    font-size: 35px;
    line-height: 60px;
    background-image: linear-gradient(rgba(20, 20, 20, 0),rgba(20,20,20,1))
}

.movie__icons{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.movie__icons > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.movie__icons > div > p{
    margin: 0px;
}
.movie__icons > div > svg{
    height: 35px;
    width: 35px;
    transition: .2s;
    color: rgb(200, 200, 200);
    cursor: pointer;
}


.movie__icons > div > svg:hover, .movie__cross > svg:hover, .movie__play >svg:hover{
    transform: scale(1.15);
    color: white;
}
/* .movie__cross > svg:hover{
    transform: scale(1.2);
} */

.movie__sub{
    position: relative;
    cursor: pointer;

}
.movie__sub > img{
    width: 320px;
}
.movie__sub > div{
    position: absolute;
    height: 70px;
    bottom: 0px;
    width: 100%;
    line-height: 40px;
    background-image: linear-gradient(rgba(20, 20, 20, 0),rgba(20,20,20,1));

}
.movie__sub > div > p{
    margin: 0%;
    padding: 0px 10px;
    margin-top: 30px;
}

.movie__movies{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}
